USE [master]
GO
/****** Object:  Database [Market]    Script Date: 03/02/20 13:30:00 ******/
CREATE DATABASE [Market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Market.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Market_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Market]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 03/02/20 13:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[gid] [int] IDENTITY(1,1) NOT NULL,
	[gname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Groups__DCD80EF8F98AD7B6] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUnits]    Script Date: 03/02/20 13:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUnits](
	[mucode] [int] IDENTITY(1,1) NOT NULL,
	[muname] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__MUnits__45E98812F8B43CA1] PRIMARY KEY CLUSTERED 
(
	[mucode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 03/02/20 13:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[mid] [int] IDENTITY(1,1) NOT NULL,
	[mname] [nvarchar](150) NOT NULL,
	[mgroup] [int] NOT NULL,
	[munit] [int] NOT NULL,
	[mprice] [smallmoney] NOT NULL,
	[mbarcode] [nvarchar](50) NULL,
 CONSTRAINT [PK__Products__DF5032EC27973FBB] PRIMARY KEY CLUSTERED 
(
	[mid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 03/02/20 13:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pdate] [date] NOT NULL,
	[pdocnum] [nchar](10) NOT NULL,
	[mcode] [int] NOT NULL,
	[mqty] [decimal](9, 4) NOT NULL,
	[mpprice] [smallmoney] NOT NULL,
	[mpsum] [smallmoney] NOT NULL,
 CONSTRAINT [PK__Purchase__DD37D91AC850A199] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 03/02/20 13:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sdate] [date] NOT NULL,
	[sdocnum] [nchar](10) NOT NULL,
	[mcode] [int] NOT NULL,
	[mqty] [decimal](9, 4) NOT NULL,
	[mprice] [smallmoney] NOT NULL,
	[ssum] [smallmoney] NOT NULL,
 CONSTRAINT [PK__Sales__DDDFDD36F5F30F5C] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MUnits] ON 

INSERT [dbo].[MUnits] ([mucode], [muname]) VALUES (1, N'ცა')
INSERT [dbo].[MUnits] ([mucode], [muname]) VALUES (2, N'კგ')
SET IDENTITY_INSERT [dbo].[MUnits] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Groups] FOREIGN KEY([mgroup])
REFERENCES [dbo].[Groups] ([gid])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Groups]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_MUnits] FOREIGN KEY([munit])
REFERENCES [dbo].[MUnits] ([mucode])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_MUnits]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Products] FOREIGN KEY([mcode])
REFERENCES [dbo].[Products] ([mid])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Products]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([mcode])
REFERENCES [dbo].[Products] ([mid])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
USE [master]
GO
